* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d5d4d6;
    color: white;
    z-index: 1000;
    position: fixed;
    margin: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    padding-right: 15px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
    outline: none;
}

.search-btn, .close-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

.close-btn {
    color: gray;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .search-bar {
        width: 100%;
    }

    .logo {
        display: none; /* Скрываем логотип на мобильных устройствах */
    }
}
